*{margin: 0;padding:0}
.header {
    height: 100px;
    display: flex;
    background: #fcf9fb;
}
.header img {
    width: 350px;
    object-fit: scale-down;
    flex-shrink: 0;
}
.header ul {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header ul li {
    list-style: none;
    font-size: 20px;
}
.body>img {
    width: 100%;
    padding: 10px 0px 30px;
}
.header ul li a {
    text-decoration: none;
    color: #252629;
    font-weight: 500;
    font-family: 'Quicksand';
}
.foot img {
    width: 100%;
}